
body {
  background: #eee;
}

.zoomable {
  width: 400px;
  position: relative;
  z-index: 0;
}

div.zoomable img {
  width: 100%;
}

div.focusbox {
  border: 2px solid white;
  position: absolute;
  z-index: 1;
}
